{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html>
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/nav.html" %}
        <div class="socials">
            {% for social in config.extra.socials %}
            <a rel="me" href="{{ social.url }}" class="social">
                <img alt={{ social.name }} src="/social_icons/{{ social.icon }}.svg">
            </a>
            {% endfor %}
        </div>
        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
    </div>
</body>

</html>
